* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6fb;
    color: #333;
}

/* ===== Header ===== */
.page-header {
    padding: 50px;
    background: linear-gradient(135deg, #eef3ff, #f9fbff);
}

.page-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.page-header p {
    color: #555;
    max-width: 600px;
}

/* ===== Layout ===== */
.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 30px;
    padding: 40px;
}

.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 15px;
}

/* ===== Form ===== */
label {
    font-weight: 500;
    display: block;
    margin-top: 15px;
}

select,
input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.reserve-btn {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #f2c94c;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.reserve-btn:hover {
    background: #e0b83f;
}

/* ===== Map Section ===== */
.map-card {
    position: relative;
}

.status {
    font-size: 14px;
    margin-bottom: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.green {
    background: #27ae60;
}

.yellow {
    background: #f2c94c;
}

.map {
    height: 380px;
    border-radius: 12px;
    background: linear-gradient(135deg, #dbe9ff, #edf4ff);
     background: url(../assets/images/map-bg.png) center / cover no-repeat;
    position: relative;
    overflow: hidden;
}


/* ===== Location Card ===== */
.location-card {
    position: absolute;
    top: 30%;
    left: 30%;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.location-card h3 {
    margin-bottom: 5px;
}

.location-card button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #f2c94c;
    cursor: pointer;
    font-weight: 600;
}
.pin {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #4caf50;
    color: white;
    font-weight: bold;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin::after {
    content: "P";
    transform: rotate(45deg);
}

.p1 {
    top: 60px;
    left: 120px;
}

.p2 {
    top: 150px;
    right: 140px;
}

.p3 {
    bottom: 120px;
    left: 200px;
}

.p4 {
    bottom: 60px;
    right: 200px;
}